* {
  font-family: RobotoCondensed, Arial;
  font-size: 16px;
}

.container {
  background-color: #eee;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(assets/fonts/RobotoCondensed-Bold.ttf);
}

.title-h2 {
  color: rgba(3,3,3,.4);
  font-size: 1.4rem;
  font-weight: bold;
}

.category-tag {
  position: absolute;
  color: #f72210;
  padding: 1rem;
  left: 0;
  bottom: 0;
  background-color: white;
  font-weight: bolder;
  font-size: 1.4rem;
}

.featured-stories-section h3 {
  font-size: 2.1rem;
}
.featured-stories-section p {
  font-size: 1.4rem;
  font-family: Arial;
  line-height: 30px;
}
