* {
  font-family: RobotoCondensed, Arial;
  font-size: 16px;
}

.container {
  background-color: #eee;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(assets/fonts/RobotoCondensed-Bold.ttf);
}

.title-gray {
  color: rgba(3,3,3,.4);
  font-size: 1rem;
  font-weight: bold;
}

.category-tag {
  position: absolute;
  color: #f72210;
  padding: 0 0.6rem;
  left: 0;
  bottom: 0;
  background-color: white;
  font-weight: bolder;
  font-size: 1rem;
}

.top-articles h3 {
  font-size: 1.4rem;
}
.top-articles-p {
  font-size: 1rem;
  font-family: Arial;
}
